.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;  /* Change to column to stack image and text */
    align-items: center;     /* Center the items horizontally */
    width: 220px;       
    padding: 10px;        
    border: 1px solid #ccc; 
    border-radius: 10px;
}

.grid-item img {
    max-width: 200px; 
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px; /* Rounded corners */
    background-color: white;
}

.grid-item p {
    margin-top: 10px;          /* Space between image and text */
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;        /* Center align text */
}

.endangered {
    background-color: red;
}

.vulnerable {
    background-color: rgb(255, 191, 0);
}

.least-concern {
    background-color: rgba(0, 255, 4, 0.836);
}

.neutral {
    background-color: transparent;
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: "Century Gothic", sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #e8f5e9;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
}

.legend-item::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #000; /* Optional border */
    background-color: var(--color); /* Apply the color passed through inline styles */
}

.info {
    display: flex;
    background-color: #ffffff
}

.animal-info {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animal-info h2 {
    color: #4CAF50;
    margin-top: 0;
}

.animal-info img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.animal-info p {
    margin: 0.5rem 0;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header h1 {
        font-size: 2rem;
    }
}