.container{
    display: grid;
    gap: 10px;
}

.grid-item{

}

.legend {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: "Century Gothic", sans-serif;
    margin: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
}

.legend-item::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #000; /* Optional border */
    background-color: var(--color); /* Apply the color passed through inline styles */
}
