<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="../../static/critters.css">
</head>
<body>
    <header>
        <h1>Critter Conservation</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/critters/">Critters</a>
        </nav>
    </header>
    <main>
        <div class="info">
            <h3> Did you know? </h3>
            <p> A species can officially be classified as endangered based on the following criteria:</p>
        </div>
    </main>
</body>
</html>