<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="../../static/critters.css">
    <title>Critter Collection</title>
</head>
<body>
    <header>
        <h1>Critter Collection</h1>
        <nav>
            <a href="/">Home</a>
            <!--a href="/critters/">Critters</a-->
            <a href="/endangerment">Conservation</a>
        </nav>
    </header>
    <main>
        <div class="legend">
            <div class="legend-item" style="--color: red;">Endangered</div>
            <div class="legend-item" style="--color: rgb(255, 191, 0);">Vulnerable</div>
            <div class="legend-item" style="--color: rgba(0, 255, 4, 0.836);">Least Concern</div>
        </div>

        <!-- Container for Critter Cards -->
        <div class="container">
            {% for log in logs %}
            <div class="grid-item">
                <!-- Dynamically Fetch Images -->
                <img src="{../../static/images}{{ log.name|lower }}.jpg" alt="{{ log.name }}">
                <h2>{{ log.name }}</h2>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
