<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="../../static/critters.css">
    <title>Critter Collection</title>
</head>
<body>
    <header>
        <h1>Critter Collection</h1>
        <nav>
            <a href="/">Home</a>
            <!--a href="/critters/">Critters</a-->
            <a href="/conservation">Conservation</a>
        </nav>
    </header>
    <main>
        <div class="legend">
            <div class="legend-item" style="--color: red;">Endangered</div>
            <div class="legend-item" style="--color: rgb(255, 191, 0);">Vulnerable</div>
            <div class="legend-item" style="--color: rgba(0, 255, 4, 0.836);">Least Concern</div>
        </div>

        <!-- Container for Critter Cards -->
        <div class="container">
            {% load static %}
            {% for log in logs %}
            <div class="grid-item {{ log.class_name }}">
                <!-- Dynamically Fetch Images -->
                <img src="{% static '' %}{{ log.name|lower }}.png" 
                alt="{{ log.name }}"
                onmouseover="this.src='../../static/{{ log.name|lower }}_hover.png';"
                onmouseout="this.src='../../static/{{ log.name|lower }}.png';">
                <p>{{ log.name }}</p>
                <p1>Date logged: {{ log.date|date:"M d, Y" }}</p1>
            </div>
            {% endfor %}
        </div>
    </main>
    <script>
        // Function to check if the query string contains '?q=1'
        function checkQueryString() {
            const urlParams = new URLSearchParams(window.location.search); // Get the query string parameters
            if (urlParams.has('q') && urlParams.get('q') === '1') {
                setTimeout(function() {
                    urlParams.set('q', '0');  // Set 'q=0'
                    window.history.replaceState({}, '', `${window.location.pathname}?${urlParams.toString()}`);  // Update the URL without reloading
                    location.reload();  // Reload the page
                }, 1000);  // 1000 milliseconds = 1 seconds
            }
        }
    
        // Call the function when the page loads
        checkQueryString();
    </script>
    
</body>
</html>
