<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="../../static/critters.css">
    <title>Critter Collection</title>
</head>
<body>
    <header>
        <h1>Critter Collection</h1>
        <nav>
            <a href="/">Home</a>
            <!--a href="/critters/">Critters</a-->
            <a href="/conservation">Conservation</a>
        </nav>
    </header>
    <main>
        <div class="legend">
            <div class="legend-item" style="--color: red;">Endangered</div>
            <div class="legend-item" style="--color: rgb(255, 191, 0);">Vulnerable</div>
            <div class="legend-item" style="--color: rgba(0, 255, 4, 0.836);">Least Concern</div>
        </div>

        <!-- Container for Critter Cards -->
        <div class="container">
            {% load static %}
            {% for log in logs %}
            <div class="grid-item {{ log.class_name }}">
                <!-- Dynamically Fetch Images -->
                <img src="{% static '' %}{{ log.name|lower }}.png" 
                alt="{{ log.name }}"
                onmouseover="this.src='../../static/{{ log.name|lower }}_hover.png';"
                onmouseout="this.src='../../static/{{ log.name|lower }}.png';">
                <p>{{ log.name }}</p>
            </div>
            {% endfor %}
            <!-- <div class="grid-item" style="background-color: rgba(0, 255, 4, 0.836);">
                <img src="{% static 'deer.png' %}" alt="Deer">
                <p>Deer</p>
            </div>
            <div class="grid-item" style="background-color: rgba(0, 255, 4, 0.836);">
                <img src="{% static 'boar.png' %}" alt="Deer">
                <p>Boar</p>
            </div>
            <div class="grid-item" style="background-color: rgb(255, 191, 0);">
                <img src="{% static 'fox.png' %}" alt="Fox">
                <p>Swift Fox</p>
            </div>
            <div class="grid-item" style="background-color: rgba(0, 255, 4, 0.836);">
                <img src="{% static 'bird.png' %}" alt="Fox">
                <p>Blue Jay</p>
            </div> -->
        </div>
    </main>
</body>
</html>
