<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="../../static/critters.css">
</head>
<body>
    <header>
        <h1>Critter Endangerment & Conservation</h1>
        <nav>
            <a href="/home/">Home</a>
            <a href="/critters/">Critters</a>
        </nav>
    </header>
    <main>
        
    </main>
</body>
</html>